[Unit]
Description=Skywire-Mainnet Visor
After=network.target

[Service]
WorkingDirectory=/root/skywire-mainnet
#Environment="GOPATH=/root/go" "GOBIN=$GOPATH/bin"
ExecStart=/root/skywire-mainnet/hypervisor
ExecStop=kill
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
